@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;

}

.col {
    background-color: rgb(224, 221, 221);
    border: 1px solid #aaa;
}

.banner {
    height: 1000px;
    width: 100%;
    background-image: url(/image/lamborghini_huracan_evo_lamborghini_mashina_151314_1600x1200.jpg);
    background-position: center;
    background-size: cover;
   
}

.header-mane  {
    width: 100%;
    height: 80px;
    border: 1px white solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu {
    background-image: url("/image/hamburger-svgrepo-com.png");
    width: 50px;
    height: 50px;
    background-size: cover;
  background-repeat: no-repeat;
}



.block-2 {
    height: 420px;
 
   
    
}

.block-3 {
    height: 500px;
   
    
    
}
.block-4 {
    margin-top: 20px;
    height: 240px;
   background-color: white;
  
    
}

.block-5 {

    height: 340px;
    margin-top: 100px;
    margin-bottom: 150px;
    
}

.block-6 {
    height: 500px;
}
.block-6-1 {
    height: 500px;
    display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
}

.block-8 {
    height: 300px;
    display: flex;
    justify-content: center;
    
}

.search {
    border: 1px rgb(247, 246, 246) solid;
    width: 205px;
    height: 38px;


  
   
}

.search-mane {
    border: none;
    height: 35px;
    outline: none;
    background: none;
    font-size: 18px;
    width: 150px;
    color: white;
    display: flex;
    align-self: center;
    padding: 10px;
} 

.search-btn {
    border: none;
    height: 20px;
    width: 20px;
    background: none;
    display: flex;
    justify-content: center;
    
}


.img-search {
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 27px;
    left: 170px;
    
}

.h1-mane {
    width: 1050px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite forwards;

    

}


.text {
display: flex;
flex-direction: column;
justify-content: end;
gap: 30px;
align-items: center;
height: 880px;
text-align: center;


}

.text-1 {
    color: white;
    font-size: 17px;
    width: 1000px;
   

}

.text-2 {
    color: white;
    font-size: 17px;
    width: 950px;
    font-family: 'Roboto', sans-serif;

}

.svg-next {
    width: 70px;
    height: 70px;
    background-image: url("data:image/svg+xml,%3Csvg style='color: rgb(240, 140, 25);' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M18,13.97h-5l2.26-2.26 c-0.91-1.06-2.25-1.74-3.76-1.74c-2.37,0-4.35,1.66-4.86,3.88l-0.96-0.32c0.64-2.62,3-4.56,5.82-4.56c1.78,0,3.37,0.79,4.47,2.03 L18,8.97V13.97z' fill='%23f08c19'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    transition: 0.3s linear;
}

.text-cont2-1 {
    color: white;
    font-size: 40px;
}

.text-cont2 {
   text-align: center;
    height: 150px;
    margin-top: 100px;
    margin-bottom: 90px;
}

.text-cont2-2 {
    color: white;
    font-size: 20px;
}
.content-1 {
    display: flex;
    flex-direction: column;
    height: 400px;
   align-items: center;
    
    
}
.svg-1 {
    background-image: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='white' d='M462.541,316.3l-64.344-42.1,24.774-45.418A79.124,79.124,0,0,0,432.093,192V120A103.941,103.941,0,0,0,257.484,43.523L279.232,67a71.989,71.989,0,0,1,120.861,53v72a46.809,46.809,0,0,1-5.215,21.452L355.962,284.8l89.058,58.274a42.16,42.16,0,0,1,19.073,35.421V432h-72v32h104V378.494A74.061,74.061,0,0,0,462.541,316.3Z' class='ci-primary'%3E%3C/path%3E%3Cpath fill='white' d='M318.541,348.3l-64.343-42.1,24.773-45.418A79.124,79.124,0,0,0,288.093,224V152A104.212,104.212,0,0,0,184.04,47.866C126.723,47.866,80.093,94.581,80.093,152v72a78,78,0,0,0,9.015,36.775l24.908,45.664L50.047,348.3A74.022,74.022,0,0,0,16.5,410.4L16,496H352.093V410.494A74.061,74.061,0,0,0,318.541,348.3ZM320.093,464H48.186l.31-53.506a42.158,42.158,0,0,1,19.073-35.421l88.682-58.029L117.2,245.452A46.838,46.838,0,0,1,112.093,224V152a72,72,0,1,1,144,0v72a46.809,46.809,0,0,1-5.215,21.452L211.962,316.8l89.058,58.274a42.16,42.16,0,0,1,19.073,35.421Z' class='ci-primary'%3E%3C/path%3E%3C/svg%3E");
    width: 60px;
    height: 60px;
    background-color: #f17c0e;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
.text-svg {
    color: white;
    font-size: 28px;
    text-align: center;
}

.text-svg-2 {
    color: rgb(190, 190, 190);
    font-size: 20px;
    text-align: center;
    width: 310px;
}

.btn-cont2 {

    border: 2px #f17c0e solid;
    border-radius: 30px;
    width: 160px;
    height: 50px;
    background: none;
    color: #f17c0e;
    font-size: 16px;
    transition: 0.1s linear;
}

.btn-cont2:hover {
    background-color:#f17c0e; 
    color: white;
}

.content-2 {
    display: flex;
    flex-direction: column;
    height: 400px;
   align-items: center;
    

}

.text-svg-3 {
    color: rgb(190, 190, 190);
    font-size: 20px;
    text-align: center;
    width: 290px;
 
}

.svg-2 {
    background-image: url(/image/phone-mobile-ring-svgrepo-com\ \(1\).png);
    width: 60px;
    height: 60px;
    background-color: #f17c0e;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
.content-3 {
    display: flex;
    flex-direction: column;
    height: 420px;
   align-items: center;
}

.svg-3 {
    background-image: url(/image/bulb-svgrepo-com.png);
    width: 60px;
    height: 60px;
    background-color: #f17c0e;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}



.content2-container3 {
    height: 500px;
    background-color: #f17c0e;
     display: flex;
    flex-flow: column;
    color: white;
    justify-content: center;


    
}

.text-container3 {
display: flex;
justify-content: center;
align-items: center;
justify-content: center;
color: white;
}

.h2-cont3 {
    font-size: 22px;
    margin-left: 30px;
}

.li-cont3 {
    margin-left: 15px;
}


.img-car-1 {
    background-image: url(/image/1.jpg);
    background-size: cover;
    background-position: center;
    height: 240px;
    }
    
    .img-car-2 {
        background-image: url(/image/3e2fb56e-a3b8-4f55-9454-d1463735213f.jpg);
    background-size: cover;
    background-position: center;
    height: 240px;
    }
    
    .img-car-3 {
        background-image: url(/image/lamborghini_huracan_evo_lamborghini_mashina_151314_1600x1200.jpg);
        background-size: cover;
        background-position: center;
        height: 240px;
    }

    .small-text1 {
      
        font-weight: 700;
        color: white;
        font-size: 45px;
       
       
        
    }
    
    .small-text2 {
        color: white;
        font-size: 35px;
        display: flex;
        position: relative;
        justify-content: end;
        top: 230px;
    }
    

    .container5-1 {
   
 
        color: white;
   
    }
    
    .container5-2 {
        width: 480px;
        height: 480px;
        background-image: url(/image/1.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        

    }
    
    .cont5-1 {
        font-size: 40px;
        color: white;
    }
    
    .cont5-2 {
        font-size: 25px;
        color: white;
        text-decoration:underline;
        line-height: 30px;
    }
    
    .cont-5-orange {

        background-color: #f17c0e;
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
  
    }
    
    .cont-5-orange-text {
        font-size: 20px;
        line-height: 24px;
        color: white;
    }
    
    .cont5-text2 {
        font-size: 17px;
        line-height: 22px;
        color: white;
    }

    .block-7 {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 800px;
        background-color: black;
        align-items: center;
        color: white;
       
    }
    
    .cont-6textmane {
        font-size: 60px;
        font-family: 'Roboto 700', sans-serif;
    }
    
    .cont6-text {
        font-size: 20px;
        
    }
    
    .cont6-box {
        height: 100px;
        width: 1000px;
        border-bottom: 0.1px white solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
    }
    
    .text-box {
        margin-left: 25px;
        position: relative;
        top: 13px;
        color: white
    }
    
    .svg-cont6 {
        width: 30px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' fill='white'%3E%3C/path%3E%3C/svg%3E");
        background-position: center;
        background-size: cover;
        position: relative;
        top: 13px;
    
    }
    
    .svg-cont6-2 {
        width: 30px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' fill='white'%3E%3C/path%3E%3C/svg%3E");
        background-position: center;
        background-size: cover;
        position: relative;
        top: 13px;
      
    }
    
    .svg-cont6-3 {
        width: 30px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' fill='white'%3E%3C/path%3E%3C/svg%3E");
        background-position: center;
        background-size: cover;
        position: relative;
        top: 13px;
       
    }
    
    .svg-cont6-4 {
        width: 30px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' fill='white'%3E%3C/path%3E%3C/svg%3E");
        background-position: center;
        background-size: cover;
        position: relative;
        top: 13px;
        
    }
    
    .cont-7img {
        width: 700px;
        height: 300px;
        background-image: url(/image/97ae8827-3f97-4612-bc07-6f3d7a7fd8db.jpg);
        background-position: center;
        background-size: cover;
   
    }
    
    .cont-7text {
        color: white;
        width: 300px;
        font-size: 35px;
        font-family: 'Roboto 700', sans-serif;
        text-align: right;
       
        
    }

    .block-8-1 {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
      
    }

    .block-9 {
        height: 450px;

        
    }

    .block-9-1 {
        height: 450px;
    
        
    }
    
    @keyframes bounce {
        0%   { transform: scale(1,1)      translateY(0); color: #463b3b;}
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-100px); color: #7e7171;}
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(0);}
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
    }
    
    .container-8-content-1 {
    
        background-color: rgb(0, 0, 0);
        
        font-family: 'Montserrat', sans-serif;
        color: white;
        
        
        
        
        
        
        }
        
        .container-8-content-2 {
        gap: 15px;
        background-color: rgb(0, 0, 0);
       height: 450px;
        display: flex;
        flex-direction: column;
        
        
        
        }
        
        .cont-8-text1 {
            font-size: 20px;
            color: white;
        }
        
        .cont-8-text2 {
            font-size: 40px;
            color: white;
     
        }
        
        .cont-8-text3 {
            font-size: 17px;
            color: white;
            line-height: 30px;
            /* width: 550px; */
        }
        
        .btn-cont8 {
            border: 2px #f17c0e solid;
            border-radius: 30px;
            width: 130px;
            height: 50px;
            background: none;
            color: #f17c0e;
            font-size: 15px;
            transition: 0.1s linear;
            font-family: 'Montserrat', sans-serif;
            margin-top: 20px;
        }
        
        .btn-cont8:hover {
            background-color:#f17c0e; 
            color: white;
            
        }
        
        .input-8 {
            width: 500px;
            height: 60px;
            border: none;
            border-bottom: 2px rgb(255, 255, 255) solid;
            background: none;
            font-size: 17px;
            color: white;
            outline: none;
            padding-left: 10px;
        }
        
        .input-8-1 {
            width: 500px;
            height: 80px;
            border: none;
            border-bottom: 2px rgb(255, 255, 255) solid;
            background: none;
            font-size: 17px;
            display: flex;
            justify-content: flex-start;
            color: white;
            outline: none;
            padding-bottom: 60px;
            padding-left: 10px;
        }
        
        .svg-cont8-1 {
         /* margin-top: 70px; */
        width: 50px;
        height: 50px;
        background-image: url("data:image/svg+xml,%3Csvg style='color: rgb(241, 124, 14);' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z' fill='%23f17c0e'%3E%3C/path%3E%3C/svg%3E");
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center;
        }
        .svg-cont8-2 {
            /* margin-top: 70px; */
        width: 50px;
        height: 50px;
        background-image: url("data:image/svg+xml,%3Csvg style='color: rgb(241, 124, 14);' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-twitter' viewBox='0 0 16 16'%3E%3Cpath d='M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z' fill='%23f17c0e'%3E%3C/path%3E%3C/svg%3E");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        }
        
        .svg-cont8-3 {
            /* margin-top: 70px; */
        width: 50px;
        height: 50px;
        background-image: url("data:image/svg+xml,%3Csvg style='color: rgb(241, 124, 14);' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-instagram' viewBox='0 0 16 16'%3E%3Cpath d='M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z' fill='%23f17c0e'%3E%3C/path%3E%3C/svg%3E");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        }
        
        
        .svg-box {
            display: flex;
            
        }
        
        .footer-text {
            
            color: white;
           
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
            }
            .footer {
                width: 100%;
                height: 142px;
                background-color: rgb(73, 72, 72);
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: center;
                text-align: center;
            }

           

            .nav {
                display: none;
                flex-direction: column;
                position: fixed;
                height: 100vh;
                width: 15%;
                top: 0; bottom: 0; left: 0; right: 0;
                z-index: 50;
                overflow-y: auto;
                overflow-x: hidden;
                background-color: rgba(3, 3, 3, 0.2);
                backdrop-filter: blur(20px) saturate(100%) contrast(150%);
                animation: menuAnimation 0.4s;
            }
.nav ul {
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    gap: 30px;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    
}

.open {
    display: flex !important;
}



@keyframes menuAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.menu-close {
    background-image: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-left' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z' fill='white'%3E%3C/path%3E%3C/svg%3E");
    width: 30px;
    height: 30px;
    background-size: cover;
  background-repeat: no-repeat;
  

}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background-color: #181515;
}

::-webkit-scrollbar-thumb {
    background-color: #f17c0e;
    border-radius: 8px;
}

.svg-next:hover {
    transform: scale(0.7) rotate(360deg);
  
}

@media screen and (max-width:1200px) {
    .text-svg {
        font-size: 20px;
    }

    .cont-7text {
        font-size: 20px;
    }
    .cont-7img {
   
        background-size: 96%;
        background-repeat: no-repeat;
    }
    .nav ul {
        font-size: 20px;
     }
    
}



@media screen and (max-width:1050px) {
    .h1-mane {
        width: 700px;
        font-size: 40px;
    }

    .text-1,.text-2 {
        width: 700px;
    }
    .small-text1 {
        font-size: 30px;
     }
     .container5-2 {
        width: 400px;
        height: 400px;
        left: 150px;
     }
     .cont6-box {
        width: 750px;
     }
     .input-8-1, .input-8 {
        width: 450px;
     }
     .nav ul {
        font-size: 20px;
        width: 230px;
        overflow-x: hidden;
     }
    
  
}

@media screen and (max-width:767px) {
    .container5-2 {
        width: 320px;
        height: 320px;
        
      
     }
     .cont5-1 {
        font-size: 30px;
     }
     .cont5-2 {
        font-size: 20px;
     }
     .cont-5-orange-text {
        font-size: 17px;
     }

     .cont-5-orange-text {
        font-size: 17px;
     }

     .cont5-text2 {
        font-size: 14px;
     }
     .cont6-box {
        width: 500px;
     }
     .cont-7img {
        width: 500px;
        height: 300px;
        background-size: 90%;
        background-repeat: no-repeat;
     }
     .nav {
        width: 150px;
        overflow-x: hidden;
     }
}

@media screen and (max-width:700px) {
    .h1-mane {
        width: 370px;
        font-size: 30px;
    }
    .text-1,.text-2 {
        width: 480px;
    }
    .small-text1 {
        font-size: 30px;
     }
     .cont6-text {
        font-size: 15px;
     }
     .cont-7text {
        font-size: 17px;
    }
}


@media screen and (max-width:500px) {
   
    .text-1,.text-2 {
        width: 370px;
    }
    .text-cont2-1 {
        font-size: 19px;
    }
    .li-cont3 {
        font-size: 13px;
    }
     .small-text1 {
        font-size: 20px;
     }
     .small-text2 {
        font-size: 25px;
     }
     .small-text3 {
        font-size: 25px;
     }
     .container5-2 {
        width: 280px;
        height: 280px;
        
      
     }
     .cont6-box {
        width: 400px;
     }

     .cont-6textmane {
        font-size: 40px;
     }
     .cont6-text {
        font-size: 12px;
     }
     .cont-7img {
        width: 400px;
        height: 300px;
        background-size: 90%;
        background-repeat: no-repeat;
     }
     .cont-7text {
        font-size: 18px;
     }
     .input-8-1, .input-8 {
        width: 350px;
     }
     .footer-text {
        font-size: 14px;
     }
    
}


@media screen and (max-width:400px) {
    .h1-mane {
        width: 280px;
        font-size: 18px;
    }
    .text-1,.text-2 {
        width: 280px;
    }

    .svg-next {
        width: 50px;
        height: 50px;
    }

    .text-cont2-1 {
        font-size: 20px;
    }

    .p-container3 {
        font-size: 13px;
    }
    .li-cont3 {
        font-size: 13px;
    }
    .h2-cont3 {
        font-size: 14px;
    }
    .small-text1 {
        font-size: 20px;
     }
     .small-text2 {
        font-size: 16px;
     }
     .container5-2 {
        width: 280px;
        height: 280px;
        
      
     }
     .cont5-1 {
        font-size: 20px;
     }
     .cont5-2 {
        font-size: 15px;
     }
     .cont-5-orange-text {
        font-size: 13px;
     }

     .cont-5-orange-text {
        font-size: 13px;
     }

     .cont5-text2 {
        font-size: 13px;
     }
     .cont6-box {
        width: 300px;
     }
     .input-8-1, .input-8 {
        width: 300px;
     }
}

@media screen and (max-width:300px) {
    .h1-mane {
        width: 180px;
        font-size: 18px;
    }
    .text-1,.text-2 {
        width: 230px;
    }
    .h2-cont3 {
        font-size: 11px;
    }
    .p-container3 {
        font-size: 13px;
    }
    .li-cont3 {
        font-size: 13px;
    }
    .cont6-box {
        width: 200px;
     }
}

